




<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= link_to  image_tag('portfolio.png', height: '82', width: '82'), pages_porfolio_path %></h2>
          <h5 class="center">Porfolio</h5>

          <p class="light"></p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= link_to image_tag('github.png', height: '82', width: '82'), "https://github.com/nbr625", :target => "_blank"%></h2>
          <h5 class="center">Github</h5>

          
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= image_tag('contact.png', height: '82', width: '82')%></h2>
          <h5 class="center">Message Me</h5>

          <p class="light"></p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Nicolas</h4>
        <p class="left-align light">As you might have guessed, my name is Nicolas. Nicolas Berrizbeitia. My job is to build responsive, proffessional platforms that suit the needs of my clients.  My passion...</p>
      </div>
    </div>

  </div>
</div>





<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">... Is crafting immersive web experiences.</h5>
      </div>
    </div>
  </div>


  <div class="parallax"><%= image_tag("bg2.jpg", alt: "Unsplashed background img 2")%></div>
</div>







<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>How?</h4>
        <p>by focusing on:</p>
        <br/>
        <br/>

        <p>Balanced, <span class="purple_accent">stimulating</span> designs</p>
        <p>The<span="purple_accent">psychology</span> of Target Audience</p>
        <p>Solid Code base that maintains <span class="purple_accent">immersion</span></p>
        <p>But perhaps the most important...</p>


        <ul id="staggered-test">

          <li class="purple_accent s40">The Element of Surprise</li>
        </ul>
        
      </div>
    </div>

  </div>
</div>
</div>



<div class="parallax-container valign-wrapper">
<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <h5 class="header col s12 light" style="float: right;">A website is not a page...</h5>
    </div>
  </div>
</div>
<div class="parallax"><%= image_tag("bg3.jpg", alt: "Unsplashed background img 3")%></div>
</div>






  <!--  Scripts-->
<%= javascript_include_tag 'space.js' %>
<script type="text/javascript">
  var options = [
    {selector: '#staggered-test', offset: 200, callback: 'Materialize.showStaggeredList("#staggered-test")' }
  ];
  Materialize.scrollFire(options);
    
</script>



