

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">

      <h1 class="header center teal-text text-lighten-2">Nicolas Dev</h1>
      <div class="row center">
        <h5 class="header col s12 light">Experience Development</h5>
      </div>
      <div class="row center">
        
      </div>


    </div>
  </div>
  <div class="parallax"><%=image_tag('bg1.jpg', alt: "Oops how embarrassing please reload the page")%></div>

</div>


<div class="container" style="margin-top: 0px;">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= link_to  image_tag('portfolio.png', height: '82', width: '82'), pages_porfolio_path %></h2>
          <h5 class="center">Porfolio</h5>
          <p class="light"></p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= link_to image_tag('github.png', height: '82', width: '82'), "https://github.com/nbr625", :target => "_blank"%></h2>
          <h5 class="center">Github</h5>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= image_tag('contact.png', height: '82', width: '82')%></h2>
          <h5 class="center">Message Me</h5>
          <p class="light"></p>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>About Me</h4>
        <p class="left-align light" id="paraone">My name is Nicolas Berrizbeitia, originally from Venezuela. I have lived on this country for 13 years. My job is to build responsive, proffessional platforms that suit the needs of my clients. This is what I use to accomplish this:<p>
          <table>
            <tr>
              <td><strong>Programming Languages:<strong> Ruby, JavaScript, Angular.js <strong>Methodologies:<strong> OO Design, TDD, Agile
</td>
            </tr>
            <tr>
              <td><strong>Databases and Servers:</strong> MySql, Postgres <strong>Frameworks:</strong> Rails, RSpec, FactoryGirl, Capybara, Selenium</td>
            </tr>
            <tr>
              <td><strong>Views:</strong> HTML, HAML, XML, CSS, JSON, ERB, JQuery. <strong>Tools:</strong> Git, Rails, GitHub, DevTools</td>
            </tr>

          </table>

        <p>My passion...</p>
      </div>
    </div>
  </div>
</div>



<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light" id="paratwo">... Is crafting immersive web experiences.</h5>
      </div>
    </div>
  </div>


  <div class="parallax"><%=image_tag('bg2.jpg')%></div>
</div>







<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>How?</h4>
        <p>by focusing on:</p>
        <br/>
        <br/>
        <p>Balanced, <span class="purple_accent">stimulating</span> designs</p><br/><br/>
        <p>The <span class="purple_accent">psychology</span> of Target Audience</p><br/><br/>
        <p>Solid Code base that safeguards <span class="purple_accent">immersion</span></p>
        <p>And most importantly...</p><br/><br/>
        <ul id="staggered-test">
          <li class="purple_accent s40">The element of Surpirse</li>
        </ul>
      </div>
    </div>
  </div>
</div>




<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light" style="float: right;" id="parathree">A website is not a page...</h5>
      </div>
    </div>
  </div>
  <div class="parallax" ><%=image_tag('book.png')%></div>
</div>



<div class="parallax-container valign-wrapper" style="height: 900px;">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light" style="float: right;" id="parafour">It is an experience in the mind of the beholder.</h5>
      </div>
    </div>
  </div>
  <div class="parallax" src="https://dumpyourphoto.com/photo/mAcplc3mPL" alt="Unsplashed background img 1"><%= image_tag("brainbanner.gif", alt: "Unsplashed background img 1")%></div>
</div>



  <!--  Scripts-->

<script type="text/javascript" src="space.js"></script>
<script type="text/javascript">
  var options = [
    {selector: '#staggered-test', offset: 200, callback: 'Materialize.showStaggeredList("#staggered-test", 3000)' }
  ];
  Materialize.scrollFire(options);
    
</script>



