

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">

      <h1 class="header center teal-text text-lighten-2">Nicolas Dev</h1>
      <div class="row center">
        <h5 class="header col s12 light">Experience Development</h5>
      </div>
      <div class="row center">
        
      </div>


    </div>
  </div>
  <div class="parallax"><%=image_tag('bg1.jpg', alt: "Oops how embarrassing please reload the page")%></div>

</div>


<div class="container" style="margin-top: 0px;">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= link_to  image_tag('portfolio.png', height: '82', width: '82'), pages_porfolio_path %></h2>
          <h5 class="center">Porfolio</h5>
          <p class="light"></p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= link_to image_tag('github.png', height: '82', width: '82'), "https://github.com/nbr625", :target => "_blank"%></h2>
          <h5 class="center">Github</h5>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text modal-trigger"><%= image_tag('contact.png', height: '82', width: '82', class: 'modal-trigger')%></h2>
          <h5 class="center">Message Me</h5>
          <p class="light"></p>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><%= image_tag('nicolasthumb.png', height: '50%', width: '50%')%></h3>
        <h5>About Me</h5>
        <p style="font-size: 20px;">My name is Nicolas Berrizbeitia, I am a human male and I love to create. My job is to build responsive, proffessional platforms that suit the needs of my clients
        these are the technologies I use for this goal:</p>
        <br/>

        <ul>
          <li>
            <h5 class="center">Programming Languages</h5>
            <p class="light" style="font-size: 18px; color: #8772EC">Ruby, JavaScript, Angular.js</p>
          </li>
          <br/>
          <li>
            <h5 class="center">Databases and Servers</h5>
            <p class="light" style="font-size: 18px; color: #8772EC">MySql, Postgres, Amazon S3</p>
          </li>
          <br/>
          <li>
            <h5 class="center">Frameworks</h5>
            <p class="light" style="font-size: 18px; color: #8772EC">Rails, RSpec, FactoryGirl, Capybara, Selenium</p>
          </li>
          <br/>
          <li>
            <h5 class="center">Views</h5>
            <p class="light" style="font-size: 18px; color: #8772EC">HTML, HAML, XML, CSS, JSON, ERB, JQuery, Ajax.</p>
          </li>
        </ul>

        <br/><br/>

        <p style="font-size: 20px;">Thats my job. My passion is:</p>
      </div>
    </div>
  </div>
</div>



<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light" id="paratwo">... Is crafting immersive web experiences.</h5>
      </div>
    </div>
  </div>


  <div class="parallax"><%=image_tag('bg2.jpg')%></div>
</div>







<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>How?</h4>
        <p style="font-size: 20px;">by focusing on:</p>
        <br/>
        <br/>
        <p style="font-size: 20px;">Balanced, <span class="purple_accent">stimulating</span> designs</p><br/><br/>
        <p style="font-size: 20px;">The <span class="purple_accent">psychology</span> of Target Audience</p><br/><br/>
        <p style="font-size: 20px;">Solid Code base that safeguards <span class="purple_accent">immersion</span></p>
        <p style="font-size: 20px;">And most importantly...</p><br/><br/>
        <ul id="staggered-test">
          <li class="purple_accent s40">The element of Surpirse</li>
        </ul>
      </div>
    </div>
  </div>
</div>




<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light" style="float: right;" id="parathree">A website is not a page...</h5>
      </div>
    </div>
  </div>
  <div class="parallax" ><%=image_tag('book.png')%></div>
</div>



<div class="parallax-container valign-wrapper" style="height: 900px;">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light" id="parafour" style="font-size: 50px; margin-top: -50%; font-family: 'Courgette', cursive;">It is an experience in the mind of the beholder.</h5>
      </div>
    </div>
  </div>
  <div class="parallax" src="https://dumpyourphoto.com/photo/mAcplc3mPL" alt="Unsplashed background img 1"><%= image_tag("brainbanner.gif", alt: "Unsplashed background img 1")%></div>
</div>
<br/>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <p style="font-size: 40px;">Webdevelopment is a techonological marvel bordering on magic. <span class="purple_accent">Let's remind them of that.</span></p>
      </div>
    </div>
  </div>
</div>

  <!--  Scripts-->

<script type="text/javascript" src="space.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>
<script type="text/javascript">
  var options = [
    {selector: '#staggered-test', offset: 200, callback: 'Materialize.showStaggeredList("#staggered-test", 3000)' }
  ];
  Materialize.scrollFire(options);
    
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>



