
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">

      <h1 id="pf" class="header col s12 light">Nicolas Dev</h1>
      <div class="row">
        <h5 id="pf" class="header col s12 light">Experience Development</h5><br/><br/>
        <br/>
        <%= link_to 'Home', root_path, class: "btn btn-primary" %>
      </div>
      <div class="row center">
        
      </div>


    </div>
  </div>
  <div class="parallax" src="https://dumpyourphoto.com/photo/mAcplc3mPL" alt="Unsplashed background img 1"><%= image_tag("brainbanner.gif", alt: "Unsplashed background img 1")%></div>
</div>


<div class="panel panel-default">
	<div class="panel-body">
		<h1 class="pf_title">Portfolio</h1>

		<p class="pf_quote">"When things make no sense, just keep on scrolling. The answers will come to you."<span class="pf_cite"> -Nobody (I just made that up.)</span><p>

		<br/><br/>



		<div class="container" id="portfolio" style="width:80%; text-align: center;">
			<ul id="staggered-test">
				<li class="porfolio_pic_container tooltip tooltip-turnright" id="artware8" tooltip-content="Comment 1"><img><%= image_tag('artware1.jpg', class: "masonryImage tooltip-item right-content")%></img><span class="tooltip-content">Artware is an international plaform for designers. Together, the member of the site shape the brand Artware, according to their collective aethetic sense. The community provides opportunities for talented people from turbulent political/economic climates.</span>
				</li>

				<li class="porfolio_pic_container tooltip tooltip-turnleft" id="artware7" tooltip-content="Comment 2"><img><%= image_tag('artware7.jpg', class: "masonryImage tooltip-item right-content")%></img><span class="tooltip-content left_content">The ratings determine the brand. The higher the rating, the more likely this design is to be printed.</span>
				</li>

				<li class="porfolio_pic_container tooltip-turnleft tooltip" id="artware1" style="float: left;" tooltip-content="Comment 3"><%= image_tag('artware2.jpg', class: "masonryImage")%><span class="tooltip-content left_content">The design of site itself denotes a vibrant, wantom expressiveness. This energy is balanced by the of relaxing black that proliferates most of the empty space. The illusion of an underground society creates a natural habitat for artistic temperaments.</span>
					
				</li>

				<li class="porfolio_pic_container tooltip-turnright tooltip" id="artware2" style="float: left;"><img><%= image_tag('artware3.jpg', class: "masonryImage right-content")%></img><span class="tooltip-content">Shopping is easy; simply select the quanity and add it to the cart. The amount is changed immediately and not on page load. Only prints approved by the community make it this far; costumers can rest easy knowing that they are buying something that has been refined. They are making the world more artful with your purchase!</span>
					
				</li>
				<li class="porfolio_pic_container tooltip-turnleft tooltip" id="artware3" style="float: left;"><img><%= image_tag('artware4.jpg', class: "masonryImage")%></img><span class="tooltip-content left_content">This page allows admins to see what prints have the best rating and most pleges. They can also see what products are out of stock and what designs have been flagged by other users. Products can also be added from this page. Any user that is not an admin is redirected to the homepage</span>
				</li>
				<li class="porfolio_pic_container tooltip-turnright tooltip" id="artware4" style="float: left;"><img><%= image_tag('artware5.jpg', class: "masonryImage")%></img><span class="tooltip-content right-content">Here we have one of the potential prints. In addition to rating and critiquing, users can "pledge" for the design. This is a promise that they will buy the design if it is printed. They are awarded with a 50% discount on purchase! The colored fist icon tells how many pledges have been submitted for this print. Admins can turn this design into a product directly from this page with just a button and confirmation.</span>
					
				</li>

				<li class="porfolio_pic_container tooltip-turnright tooltip" id="artware5" style="float: left;"><img><%= image_tag('artware6.jpg', class: "masonryImage")%></img><span class="tooltip-content right-content">The review page displays all recent prints in a leafed structure. Additionally, the side contains articles about art theory and current trends. This reiforces the idea of a hangout, instead a pure store.</span>
					
				</li>
			</ul>

		</div>

		<div class="container" id="portfolio" style="width; 80%; text-align: center;">
			<ul id="staggered-test2">
		  

				<li class="porfolio_pic_container tooltip-turnright tooltip" style="float: left; width: 100%"><img><%= image_tag('ml1.jpg', class: "masonryImage")%></img><span class="tooltip-content right-content">Movielauch in a video streaming site that funnels science fiction afficionados in one place. Everything in the site maintains the ambiance of endless space, endless possibility. To infinity and a bit further...</span></li>
			
				<li class="porfolio_pic_container tooltip-turnleft tooltip" id="ml1" style="float: left;"><img><%= image_tag('ml2.jpg', class: "masonryImage")%></img><span class="tooltip-content left_content">From the onset, the visitors are introduced to the offbeat, communial tone of the site.</span></li>
				<li class="porfolio_pic_container tooltip-turnleft tooltip" id="ml5.jpg" style="float: left;"><img><%= image_tag('ml4', class: "masonryImage")%><img><span class="tooltip-content left_content">This is a regular review page, each user provides a certain amount of "starpower" to the movie. The movie get a star category according to their average rating</span></li>
				<li class="porfolio_pic_container tooltip-turnleft tooltip" id="star"><span class="tooltip-content"></span><img><%= image_tag('empty_space.jpg', class: "masonryImage")%></img><span class="tooltip-content right-content">A movie without a review gets this. It set the anticipation of something more.</span></li>
				<li class="porfolio_pic_container tooltip-turnleft tooltip" id="star"><img><%= image_tag('orange_dipper.jpg', class: "masonryImage")%></img><span class="tooltip-content right-content">the orange dimmer, only slightly hotter than our sun. 2/5</span></li>

				
				<li class="porfolio_pic_container tooltip-turnleft tooltip" id="star" style="margin-bottom: 1%;"><img><%= image_tag('blue_giant.jpg', class: "masonryImage")%></img><span class="tooltip-content">Blue Giant the hottest stars in the obsidian vacuum. The heat generated in unimaginable 5/5</span></li>

				<li class="porfolio_pic_container tooltip-turnright tooltip" id="star"><img><%= image_tag('white_giant.jpg', class: "masonryImage")%></img><span class="tooltip-content right-content">White Giants, pearls in the rough. Only second in heat to the Blue Giants 4/5</span></li>

				<li class="porfolio_pic_container tooltip-turnright tooltip" id="ml4" style="float: left;"><img><%= image_tag('ml3.jpg', class: "masonryImage")%><span class="tooltip-content right-content">This movie is in dire need of a review. It is currently suspended in empty space.</span></img></li>
				<li class="porfolio_pic_container tooltip-turnleft tooltip" id="ml2" style="float: left;"><img><%= image_tag('ml5.jpg', class: "masonryImage")%><span class="tooltip-content left_content">This is what an user profile looks like.  last reviewed movie and also awards a star rating to the user according to the activity level. This conforms the idea of establishing progression to get users invested. Blue Giant reviews are more well regarded than Orange Dwarfs...</span></img></li>

				<li class="porfolio_pic_container tooltip-turnright tooltip" id="ml6.jpg" style="float: left;"><img><%= image_tag('ml6', class: "masonryImage") %><span class="tooltip-content right-content">Withing the e category of science fiction there are many subcategories, including Action, Animation, Romance, etc. We provide a large variety that allows users to find exactly what they are itching for at the momment.</span></img></li>
			</ul>

			
		</div>
	</div>
</div>
<script>
    $(window).scrollTop(0);
</script>

<script type="text/javascript">
  var options = [
    {selector: '#staggered-test', offset: 100, callback: 'Materialize.showStaggeredList("#staggered-test", 3000)' }, 
    {selector: '#staggered-test2', offset: 100, callback: 'Materialize.showStaggeredList("#staggered-test2", 3000)' }
  ];
  Materialize.scrollFire(options);
    
</script>

