<!DOCTYPE html>
<html>
<head>
  <title>NicolasDev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  


  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>


<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Nicolas Dev</h1>
      <div class="row center">
        <h5 class="header col s12 light">intuitive development meets imagination.</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Porfolio</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag("bg1.jpg", alt: "Unsplashed background img 1")%></div>
</div>
<br/>
<br/>

<%= yield %>



<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Would you like to contact</h5>
        <p class="grey-text text-lighten-4">Would you like to contact me?</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!"></a></li>
          <li><a class="white-text" href="#!"></a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><div class="elevator waves-effect waves-light btn">Back to Top</div></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>

  
</footer>
<script type="text/javascript">
 
$(function() {
    $.preloadCssImages();
});
 
</script>
<script>
    // Simple elevator usage.
  var elementButton = document.querySelector('.elevator');
  var elevator = new Elevator({
    element: elementButton,
    mainAudio: './audio/elevator.mp3', // Music from http://www.bensound.com/
    endAudio: './audio/ding.mp3',
    duration: 3000
  });
</script>
<script type="text/javascript">
  jQuery.preloadCssImages = function(){

  var allImgs = [];//new array for all the image urls  
  var k = 0; //iterator for adding images
  var sheets = document.styleSheets;//array of stylesheets

  for(var i = 0; i0 && imgUrls != ''){//loop array

      var arr = jQuery.makeArray(imgUrls);//create array from regex obj        

      jQuery(arr).each(function(){
        allImgs[k] = new Image(); //new img obj
        allImgs[k].src = (this[0] == '/' || this.match('http://')) ? this : baseURL + this;     //set src either absolute or rel to css dir
        k++;
      });
    }
  }//loop
  return allImgs;
}

$.preloadCssImages();

//load into array
var preloadedImgs = $.preloadCssImages();
</script>


</body>
</html>
