<!DOCTYPE html>
<html>
<head>
  <title>NicolasDev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  

  <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="jquery-2.0.2.min.js"></script>
</head>
<body>





<%= yield %>





<script type="text/javascript">
  $( window ).load(function() { 
    $('.parallax').parallax();
  });

</script>
<script type="text/javascript">
  $( window ).load(function() { 
    $(function() {
        $.preloadCssImages();
    });
  };
   
</script>

<script type="text/javascript">

    // Simple elevator usage.
  var elementButton = document.querySelector('.elevator');
  var elevator = new Elevator({
    element: elementButton,
    mainAudio: './audio/elevator.mp3', // Music from http://www.bensound.com/
    endAudio: './audio/ding.mp3',
    duration: 3000
  });

</script>
<script type="text/javascript">
  $( window ).load(function() { 
    jQuery.preloadCssImages = function(){

      var allImgs = [];//new array for all the image urls  
      var k = 0; //iterator for adding images
      var sheets = document.styleSheets;//array of stylesheets

      for(var i = 0; i0 && imgUrls != ''){//loop array

          var arr = jQuery.makeArray(imgUrls);//create array from regex obj        

          jQuery(arr).each(function(){
            allImgs[k] = new Image(); //new img obj
            allImgs[k].src = (this[0] == '/' || this.match('http://')) ? this : baseURL + this;     //set src either absolute or rel to css dir
            k++;
          });
        }
      }//loop
      return allImgs;
    }

    $.preloadCssImages();



    var preloadedImgs = $.preloadCssImages();


  });
</script>
</body>

</html>
